<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.web.mapper.OrderMapper">
    <resultMap id="orderBean" type="Order">
        <id column="oid" property="id"></id>
        <result property="code" column="code"></result>
        <collection property="oOrderItemList" ofType="OrderItem" javaType="java.util.List">
            <id column="oiid" property="id"></id>
            <result property="number" column="number"></result>
            <association property="product" javaType="Product">
                <id column="pid" property="id"></id>
                <result property="name" column="name"></result>
                <result property="price" column="price"></result>
            </association>
        </collection>
    </resultMap>
    <select id="orderlist" resultMap="orderBean">
        select o.id oid,o.code,oi.id oiid,oi.number,p.id pid,p.name,p.price from s_order o
        left join s_orderitem oi on o.id=oi.oid
        left join s_product p on oi.pid=p.id
    </select>
    <select id="getOrder" resultMap="orderBean">
        select o.id oid,o.code,oi.id oiid,oi.number,p.id pid,p.name,p.price from s_order o
        left join s_orderitem oi on o.id=oi.oid
        left join s_product p on oi.pid=p.id
        where o.id=#{id}
    </select>
    <select id="newOrder" resultType="Order">
        select * from s_order order by id desc limit 1
    </select>
    <update id="updateOrder" parameterType="Order">
        update s_orderitem
        inner join s_order
        on s_orderitem.oid=s_order.id
        set s_order.code=#{code},s_orderitem.number=#{oOrderItemList[0].number}
        where s_orderitem.id=#{oOrderItemList[0].id}
    </update>
    <insert id="insertOrder1">
        insert into s_order
        (code)
        values
        (#{code})
    </insert>
    <insert id="insertOrder2">
        insert into s_orderitem
        (oid,pid,number)
        values
        (#{oid},#{pid},#{number})
    </insert>
</mapper>
